<%-include('../../partials/navbar', { title: 'Register' }) %>

<div class="min-h-screen bg-blue-100 py-6 flex flex-col justify-center sm:py-12" style="background-image: url('https://cdn.pixabay.com/photo/2018/11/29/21/51/social-media-3846597_1280.png')">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto">
        <div class="mt-8 grid lg:grid-cols-2 gap-4">
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
            <h2 class="leading-relaxed">Welcome to Xtiv</h2>
            <p class="text-sm text-gray-500 font-normal leading-relaxed">Batch #14's Social Media</p>
          </div>
        </div>
        <% if (messages.length) { %>
        <div>
          <% messages.forEach((message) => { %>
          <p class="text-sm text-red-500 font-normal leading-relaxed"><%= message %></p>
          <% }) %>
        </div>
        <% } %>
        <form action="/register" method="post" class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            <div class="flex flex-col">
              <label class="leading-loose">First Name</label>
              <div class="relative focus-within:text-gray-600 text-gray-400">
                <input type="text" name="firstName" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Firstname">
              </div>
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Last Name</label>
              <input type="text" name="lastName" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Lastname">
            </div>
            <div class="flex items-center space-x-4">
              <div class="flex flex-col">
                <label class="leading-loose">gender</label>
                <div class="relative focus-within:text-gray-600 text-gray-400">
                  <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>
              <div class="flex flex-col">
                <label class="leading-loose">Date of birth</label>
                <div class="relative focus-within:text-gray-600 text-gray-400">
                  <input type="date" name="dateOfBirth" class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600">
                </div>
              </div>
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Phone</label>
              <input type="number" name="phone" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Phone">
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Address</label>
              <input type="text" name="address" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Address">
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Username</label>
              <input type="text" name="username" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Username">
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Email</label>
              <input type="email" name="email" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Email">
            </div>
            <div class="flex flex-col">
              <label class="leading-loose">Password</label>
              <input type="password" name="password" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Password">
            </div>
          </div>
          <div class="pt-4 flex items-center space-x-4">
            <a href="/">
              <button type="button" class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none">
                <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg> Cancel
              </button>
            </a>
            <button type="submit" class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>